body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
}
h1 {
    font-size: 2rem;
    font-weight: 500;
}
a {
    text-decoration: none;
    color: #007bff;
}
a:hover {
    text-decoration: underline;
}
form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 0.6rem;
}
.input {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 50%;
}
.input label {
    font-size: 1.2rem;
    font-weight: 500;
}
button {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}
input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #cccccc;
    border-radius: 5px;
}
input:focus {
    outline: none;
    border: 2px solid #007bff;
}
.alternative-page {
    margin-top: 1rem;
    font-size: 1.1rem;
}
